:root {
    --iris-cl: #4d5ae5;
    --secondary-cl: #2e2f42;
    --main-cl: #434455;
    --main-hover-cl: #404bbf;
    --white-cl: #ffffff;
    --cloud-cl: #f4f4fd;
    --border-card-cl: #e7e9fc;
    --border-icon-cl: #8E8F99;
    --green-cl: #31D0AA;
    --modal-cl: #2e2f4266;
    --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-cl);
    background-color: var(--white-cl);
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img{
    display: block;
}

button {
    cursor: pointer;
}



.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container-card {
    padding: 32px 16px;
}

.container-flex {
    display: flex;
    align-items: baseline;
}

.main-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-cl);
}

.main-logo-span {
    color: var(--secondary-cl);
}

.main-subtitle {
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--secondary-cl);
}

.small-font {
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.title-bold {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-cl);
    margin-bottom: 72px;
}

.title-medium {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--secondary-cl);
    margin-bottom: 8px;
}

.sections {
    padding-top: 120px;
    padding-bottom: 120px;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ===================== HEADER STYLES ===================== */

.page-header {
    border-bottom: 1px solid var(--border-card-cl);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-header {
    margin-right: 76px;
}

.page-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.menu {
    display: flex;
    gap: 40px;
}


.menu-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--transition-duration-and-func);
    
}

.menu-link:hover,
.menu-link:focus,
.menu-link.active {
    color: var(--main-hover-cl);
    
}

.menu-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.menu-link.active::after {
    background-color: var(--main-hover-cl);
}

.page-address {
    font-style: normal;
}

.address-menu {
    display: flex;
    gap: 40px;
}
.address-menu-link{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--transition-duration-and-func);
}

.address-menu-link:hover,
.address-menu-link:focus {
    color: var(--main-hover-cl);
    
}

/* ===================== HERO STYLES ===================== */

.page-hero {
    background-color: var(--secondary-cl);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(#2e2f42b3, #2e2f42b3), url(../images/hero/peopleoffice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 #00000040;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
    color: var(--white-cl);
    max-width: 496px;
    margin: auto auto 48px;
    
}

.hero-btn {
    display: block;
    margin: auto;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: var(--white-cl);
    background-color: var(--iris-cl);
    text-align: center;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    transition: background-color var(--transition-duration-and-func);

}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--main-hover-cl);
}

/* ===================== FEATURE STYLES ===================== */
.feature-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 3 * 24px) / 4);
}

.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    padding: 24px 0;
    margin-bottom: 8px;
    background-color: var(--cloud-cl);
    border: 1px solid var(--border-icon-cl);
    border-radius: 4px;
}

/* .feature-icon {
    padding: 24px 0;
} */

.feature-second-title {
    margin-top: 0;
}


/* ===================== TEAM STYLES ===================== */

.page-team{
    background-color: var(--cloud-cl);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: var(--white-cl);
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 #2e2f4214, 0 1px 1px 0 #2e2f4229, 0 1px 6px 0 #2e2f4214;
}

.team-second-title {
    text-align: center;
}

.team-txt {
    text-align: center;
    margin-bottom: 8px;
}

.team-container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* .team-social-item {
    
} */



.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris-cl);
    border-radius: 50%;
    
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--main-hover-cl);
    transition: background-color var(--transition-duration-and-func);
}

.team-social-icon {
    fill: var(--cloud-cl);
}

/* ===================== PORTFOLIO STYLES ===================== */

.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow var(--transition-duration-and-func);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.portfolio-container {
    border: 1px solid var(--border-card-cl);
    border-top: none;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
    
}

.portfolio-overlay-subtitle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: var(--cloud-cl);
    line-height: 1.50;
    letter-spacing: 0.02em;
    background-color: var(--iris-cl);
    transform: translateY(100%);
    transition: transform var(--transition-duration-and-func);
}

.portfolio-item:hover .portfolio-overlay-subtitle {
    transform: translateY(0%);
}

/* ===================== FOOTER STYLES ===================== */

.page-footer {
    background-color: var(--secondary-cl);
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-txt {
    color: var(--cloud-cl);
    max-width: 264px;
}

.footer-logo-container {
    margin-right: 120px;
}

.footer-social-container {
    margin-right: 80px;
}

.footer-social-subtitle {
    color: var(--white-cl);
    margin-bottom: 16px;
}

.footer-social-list {
    gap: 16px;

}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green-cl);
    transition: background-color var(--transition-duration-and-func);
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white-cl);
    color: var(--white-cl);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-right: 24px;
    background-color: transparent;
}

.footer-subscribe-input:hover,
.footer-subscribe-input:focus {
    border-color: var(--green-cl);
}


.footer-subscribe-btn {
    display: inline-flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: var(--white-cl);
    background-color: var(--iris-cl);
    fill: var(--white-cl);
    transition: background-color var(--transition-duration-and-func);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: var(--green-cl);
}

/* ===================== BACKDROP AND MODAL STYLE ===================== */

.modal-main-txt {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--border-icon-cl);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: var(--modal-cl);

    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition-duration-and-func), visibility var(--transition-duration-and-func);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform var(--transition-duration-and-func);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--border-card-cl);
    border: 1px solid #0000001a;
    transition: background-color var(--transition-duration-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--main-hover-cl);
    fill: var(--white-cl);
}

.modal-close-btn-icon {
    transition: fill var(--transition-duration-and-func);
}

.modal-subtitle {
    text-align: center;
    margin-bottom: 16px;
}


.modal-form-label {
    display: block;
    margin-bottom: 4px;
}

.modal-form-wrapper{
    margin-bottom: 8px;
}

.modal-form-input-wrapper {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding: 0;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid var(--modal-cl);
    transition: border-color var(--transition-duration-and-func);
    outline: transparent;
}

.modal-form-input:focus {
    border-color: 1px solid var(--iris-cl);
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--iris-cl);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill var(--transition-duration-and-func);
}

.modal-form-textarea-wrapper {
    margin-bottom: 16px;
}

.modal-form-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    resize: none;
    border: 1px solid var(--modal-cl);
    transition: outline var(--transition-duration-and-func);
}

.modal-form-textarea:focus {
    outline: 1px solid var(--iris-cl);
}

.modal-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.modal-form-checkbox:checked + 
.modal-form-checkbox-label
.modal-form-custom-checkbox {
    background-color: var(--main-hover-cl);
}

.modal-form-custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--modal-cl);
    fill: var(--cloud-cl);
    cursor: pointer;
    margin-right: 8px;
}

.modal-form-checkbox-link {
    text-decoration: underline;
    line-height: 1.33;
    color: var(--iris-cl);
}
